<div class="container">
  <div class="card-content">
    <div class="center-align">
      <ul>
        {{#each model as |item|}}
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="{{item.imageUrl}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  {{item.name}}
                </span>
                <br>
                <span class="black-text">
                  Price: <b>{{item.price}}</b>
                </span>
              </div>
              <!--<div class="col s1">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" id="quantity" value="{{item.quantity}}">
              </div>
            -->
              <div class="col s2">
                <a href="#" {{action 'addItem' item}}>
                  <i class="material-icons">add_shopping_cart</i>
                </a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
