<div class="container">
  <div class="card-content">
    <ul class="collection">
      {{#each model as |item|}}
        <li class="collection-item avatar">
          <img src="{{item.imageUrl}}" alt="" class="circle">
          <span class="title">{{item.product_name}}</span>
          <p>
              <b>Item value: </b>{{item.total}}<br>
              <b>Quantity: </b>{{item.quantity}}<br>
          </p>
          <a href="#" class="secondary-content">
            <i class="material-icons"{{action 'decreaseItem' item}}>remove_circle</i>
            <i class="material-icons"{{action 'increaseItem' item}}>add_circle</i>
            <i class="material-icons"{{action 'removeItem' item}}>delete</i>
          </a>
        </li>
      {{/each}}
      <span class="tertiary-content"><b>Subtotal:{{total}}</b></span>
      <a href="#" {{action 'checkout'}} class="secondary-content">
        <i class="material-icons">credit_card</i>Checkout
      </a>
    </ul>
  </div>
</div>
